.nav-btns {
  display: flex;
  width: auto;
  gap: 20px;
  margin-bottom: 50px;
}

.btn {
  margin: 10px auto;
  padding: 10px 20px;
  width: auto;
  font-size: 18px;
  background-color: #fff;
  color: #333;
  border: 2px solid #666;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  color: #eee;
  background-color: #333;
}

.page-numbers {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  cursor: pointer;
}
.page-number {
  width: 25px;
}

.page-number.active {
  color: red;
}

.page-location {
  margin-bottom: 20px;
}